* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#header {
  width: 100%;
  display: block;
  position: fixed; 
  top: 0; 
  left: 0; 
  z-index: 100000; 
}

#tt { 
    width: 100%;
    background-color:#000;
    height: 40px;
}

#tt #ul1 {
   
    list-style-type: none;
    text-align: right;
    margin-right: 15%;
    height: 40px;

}

#tt #ul1 li {
    display: inline-block;
    text-align: center;
    height: 40px;
    line-height: 40px;
    border-right: 1px solid #999;
    
}

#ul1 .sales {
    font-size: 14px;
    color: #FFFFFF;
    padding-right: 30px;
    line-height: 42px !important;
    font-family: 'GenesisSansText';
}

#ul1 .map {
    color:#999999 ;
    font-size: 14px;
    padding: 0 10px;
    
}

#ul1 .map span a{
    color:#999999;
    font-size: 8px;
    padding-left: 3px;
    font-family: 'GenesisSansText';
    
}

#ul1 .email {
    display: block;
    color:#999999;
    font-size: 14px;
    padding: 0 10px;
    border-right: none !important;
    
}

#ul1 .email span a{
    color:#999999;
    font-size: 8px;
    padding-left: 3px;
    font-family: 'GenesisSansText';
    
}

.ti-email a:hover{
    cursor: pointer;
    color: #FFFFFF !important;
}

#divmenu #menu1 li a:hover{
    cursor: pointer;
    color: #999 !important;;
}

.map:hover,.email:hover {
    cursor: pointer;
    color: #FFFFFF !important;
}

.spanheader:hover {
    cursor: pointer;
    color: #FFFFFF !important;
}

.ti-email a span{
    color:#999999;
   
}

.ti-map-alt span a:hover{
    color:#FFFFFF !important;
   
}

#menu {
    width: 100%;
    height: 64px;
    background-color:#000;
    border-top: 1px solid #999999;
    border-bottom: 1px solid #999999;
}



#menu #menu1 li {
    display: inline-block;
    color: #fff;
    padding: 22px 20px;
}

#logo {
    display: inline-block;
    width: 50%;
    float: left;
    padding-left: 20%;
}

#menu #divmenu {
    height: 64px;
    width: 50%;
    float: right;
    padding-right: 10%;
}

#logo img {
    width: 116px;
    height: 48px;
    margin: 6px 0;
}

a {
    text-decoration: none;
    color: white;
}

#menu1 li {
    font-size: 14px;
    font-family: 'GenesisSansText';
}

#sl1 img {
    width: 20%;
    height: 180px;
}


#content {
    width: 100%;
    height: 530px;
    text-align: center;
    margin-top: 104px;
   
}

#search {
    width: 50%;
    height: 530px;
    text-align: center;
    background-image: url(./image/imgcontent1.jpg);
    float: left;
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;
   
}

#formsr {
   margin-left: -28%;
   
}

#content #title h1 {
    font-size: 48px;
    color: #FFFFFF;
    font-family: 'GenesisSansHead-Light';
    height: 65px;
    
}

#title {
    padding-bottom: 15px;
}

#form {
   padding-top: 155px;
}

select {
    height: 40px;
    font-size: 16px;
    padding-left: 10px;
}

button {
    height: 40px;
    font-size: 15px;
}

.user {
    width: 116px;
}

.year {
    width: 116px;

}

.make {
    width: 156px;
}

.model {
    width: 278px;
}

.tk {
    padding-bottom: 1px;
    width: 146px;
    color: white;
    background-color: #a40000;
    height: 42px;
    padding-top: 2px;
    border-width: 0px;
    border: none;
    
}


.tk:hover {
    opacity: 0.5;
}

.micro {
    width: 370px;
    height: 42px;
    font-size: 16px;
    line-height: 34px;
    padding: 4px 0 4px 12px;
}

.ti-microphone {
    margin-left: -30px;
}

.ti-microphone:hover {
    cursor: pointer;
}

.btnsr {
    width: 46px;
    height: 44px;
    background-color: #a40000;
    margin-left: 4px;
    border-left: none;
}

.btnsr:hover {
    cursor: pointer;
    opacity: 0.6;
}


.ti-search {
    color: white;
}

#form2 {
    margin-left: 3%;
}

#form3 {
    margin-left: 2%;
    margin-top: -12px;

}

#slider {
    width: 50%;
    height: 530px;
    float: left;
    border-bottom: 1px solid #999;
   
}

#imgsl img{
    width: 100%;
    height: 265px;
}

#btnsld1 {
    margin-top: -9%;
    margin-left: -68%;
    
}

#btnsld1:hover {
    opacity: 0.5;
}

#btnsld1 button {
    background-color: #a40000;
    color: #FFFFFF;
    width: 187px;
    height: 44px;
    border: 1px solid;
    text-align: center;
}

#slider23 {
    width: 100%;
    height: 50%;
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
    margin-left: 0px;
    margin-top: -0.8px;
}


#imgsl2 {
    float: left;
    width: 50%;
    height: 265px;
}

#imgsl3 {
    float: left;
    width: 50%;
    height: 265px;
}

#slimg2 img {
    width: 378.24px;
    height: 264.5px;
}

#imgsl2 {
    margin-top: 20px;
}

#btnsld2 {
    margin-top: -67px;
    margin-left: -176px;
}

#slimg2 img:hover {
    cursor: pointer;
    
}

#btnsld2 button:hover {
    cursor: pointer;
    background-color: white;
    color: #000;
}

#slimg3 img:hover {
    cursor: pointer;
    
}

#btnsld3 button:hover {
    cursor: pointer;
    background-color: white;
    color: #000;
}




#btnsld2 button {
    width: 150px;
    height: 42px;
    color: white;
    border: #FFFFFF 1px solid;
    background-color: transparent;

}

#slimg3 img {
    width: 381.76px;
    height: 264.5px;
}

#imgsl3 {
    margin-top: 20px; 
    margin-left: -2px;
}

#btnsld3 {
    margin-top: -67px;
    margin-left: -176px;
}

#btnsld3 button {
    width: 150px;
    height: 42px;
    color: white;
    border: #FFFFFF 1px solid;
    background-color: transparent;

}

#content2 {
    width: 100%;
    height: 453px;
    background-color: #141414;
  
    
}

#noidung2 {
    margin: 6% 25%;
    width: 750px;
    color: #FFFFFF;
    font-family: 'GenesisSansText';
    text-align: center;
    float: left;
}

#noidung2 h1 {
    font-size: 60px;
    width: 750px;
    height: 66px;
    font-family: 'GenesisSansText';
}

#noidung2 h2 {
    font-size: 18px;
    width: 750px;
    height: 20px;
    font-family: 'GenesisSansText';
    margin-top: 10px;
    margin-bottom: 18px;
}

#noidung2 p {
    font-size: 17px;
    width: 750px;
    height: 96px;
    font-family: 'GenesisSansText';
    margin-bottom: 18px;
}

#noidung2 button {
    height: 46px;
    width: 169px;
    color: white;
    background-color: transparent;
    border: 1px solid whitesmoke;
}

#noidung2 button:hover {
    background-color: white;
    color: #000;
    cursor: pointer;
}

#content3 {
    width: 100%;
    height: 532px;
    background-image: url(../image/noidung32.jpg);
}

#noidung3 {
    margin: 9% 5%;
    width: 750px;
    color: #FFFFFF;
    font-family: 'GenesisSansText';
    text-align: left;
    float: left;
}

#noidung3 h1 {
    font-size: 60px;
    width: 750px;
    height: 66px;
    font-family: 'GenesisSansText';
}

#noidung3 h2 {
    font-size: 18px;
    width: 750px;
    height: 20px;
    font-family: 'GenesisSansText';
    margin-top: 5px;
    margin-bottom: 18px;
}

#noidung3 p {
    font-size: 17px;
    width: 750px;
    height: 96px;
    font-family: 'GenesisSansText';
    margin-bottom: 18px;
}

#noidung3 button {
    height: 46px;
    width: 169px;
    color: white;
    background-color: transparent;
    border: 1px solid whitesmoke;
}

#noidung3 button:hover {
    background-color: white;
    color: #000;
    cursor: pointer;
}

#map {
    width: 100%;
    height: 525px;
    
}

#map #nhungmap{
    width: 100%;
}



#nhungmap iframe {
    width: 100%;
    margin-top:-15px;
    height: 525px;
}

#content4 {
    width: 100%;
    height: 175px;
    background-color: #141414;
}

#noidung4{
    width: 100%;
    height: 175px;
    padding-top: 4%;
    padding-left: 20%;
}

#menu2 {
    width: 100%;
    
}

.menu2 li {
    color: #FFFFFF;
    font-size: 30px;
    float: left;
    list-style-type: none;
    border: 1px solid white;
    height: 55px;
    width: 55px;
    border-radius:50%;
    line-height: 55px;
    text-align: center;
}

.menuli1 {
    width: 500px!important;
    border: none !important;
}

.ti {
    height: 20px;
    width: 20px;
    margin-left: 16px;
}

.ti:hover{
    cursor: pointer;
    background-color: #fff;
    color: #000;
}

#content5 {
    width: 100%;
    height: 316px;
}

#noidung5 {
    width: 100%;
    height: 216px;
    text-align:left;
}

#noidung51{
    color: #333;
    width: 450px;
    height: 216px;
    float: left;
    margin-left: 6%;
    margin-top: 4%;
}

#noidung52{
    color: #333;
    width: 450px;
    height: 216px;
    float: left;
    margin-top: 4%;
    padding-left: 15px;
}


#noidung53{
    color: #333;
    width: 450px;
    height: 216px;
    float: left;
    margin-top: 4%;
    padding-left: 25px;
}

#footer{
    width: 100%;
    height: 89px;
    background-color: #e5e5e5;
}

#ulft li {
    float: left;
    list-style-type: none;
    font-size: 11.9px;
    color: #333333;
    height: 32px;
    text-align: center;
    line-height: 32px;
    
}

#footernd {
    padding: 2% 22%;
}

#ulft li a {
    color: #a40000;
    direction: none;
}

#ulft li a:hover {
    cursor: pointer;
}

#ulft li img {
    width: 102px;
    height: 22px;
    margin-right: 10px;
    margin-top: 4px;
}

#content6 {
    width: 100%;
    height: 260px;
    background-color: #141414;
    border-top: 1px solid #555;
}

#content61tt {
    text-align: center;
    color: #fff;
    font-size: 25px;    
    line-height: 1.1;
    margin-top: 50px;
    margin-bottom: 36px;
}

#content61 {
    width: 1410px;
    height: 160px;
    margin: 50px 39.6px;
}

.ct6 a {
    width: 204.99px;
    height: 81.8px;
    float: left;
    text-align: center;
    padding: 20px;
    font-size: 14px;
    line-height: 1.42857143;
    border: 1px solid rgba(225,225,225,.25);
    background-color: rgba(255,255,255,.05);
    margin: 0 15px;
 
}

.ct6 a:hover{
  opacity: 0.6;
}

.ct6 a h4{
    color: #FFFFFF;
    font-size: 14px;
    margin: 10px 0px;
}

#contten7{
    width: 100%;
    height: 407.8px;
    background-image: url(/image/ct7.jpg);

}

#contten71 {
    width: 1440px;
    height: 287.8px;
    padding-top: 70px;
   
}

#trong {
    width: 50%;
    float: left;
}

#ndct7 { 
    width: 50%;
    float: left;
    margin-left: 720px;
    padding: 0 15px;
    color: #FFFFFF;
}

#ndct7 h2 {
    font-size: 60px;
    font-weight: 500;
    line-height: 1.1;
}

#ndct7 h3 {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.1;
    margin-bottom: 10px;
}

#ndct7 p {
    font-size: 16.8px;
    margin-top: 16.8px;
    margin-bottom: 33.6px;
}



#ndct7 a{
   
    height: 46px;
    width: 212.5px;
    font-size: 14px;
    padding: 10px 16px;
    border: 1px solid #FFFFFF;
    background-color: transparent;
}



#ndct7 a:hover {
    cursor: pointer;
    background-color: #FFFFFF !important;
    color: #000;
}
